<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-drinks">
      <h2>Drinks</h2>
      <input type="text" v-model="drink" />
      <button @click="addDrink">Add Drink</button>
      <p v-if="drinks.length === 0">No drinks - add some!</p>
      <!-- v-else can be used only right below element with v-if, adjacent elements -->
      <ul v-else>
        <li
          v-for="(drink, idx) in drinks"
          :key="drink"
          @click="removeDrink(idx)"
        >
          {{ idx + 1 }}. {{ drink }}
        </li>
      </ul>
      <!-- v-show is similar to v-if, but v-show keeps the element in the DOM -->
      <p v-show="drinks.length > 0">{{drinks.length}}</p>
    </section>
  </body>
</html>
