header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);
  margin: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

#user-drinks {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);
  margin: 2rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

#user-drinks h2 {
  font-size: 2rem;
  border-bottom: 3px solid #bbb;
  color: #1b995e;
  margin: 0 0 1rem 0;
}

#user-drinks ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

#user-drinks li {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #8ddba4;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 24px;
}

#user-drinks input {
  font: inherit;
  border: 1px solid #ccc;
}

#user-drinks input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

#user-drinks button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#user-drinks button:hover,
#user-drinks button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
